:root{
    --white: #ffffff;
    --white-2: #f4f4f4fe;
    --light-grey: #eff1f3;
    --grey: #959595;
    --blue: #3b76d3;
    --black: #4b4b4b;
}
::-webkit-scrollbar {
    display: none;
}
body{
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: 550px;
}
