.Blocker{
    padding-top: 50px;
}
.Blocker > button{
    border: 1px solid var(--light-grey);
    outline: 0;
    font-size: 14px;
    text-align: center;
    width: 40%;
    margin-left: 7%;
    border-radius: 4px;
    padding: 10px 0;
}
.Blocker > button:hover{
    cursor: pointer;
}
.active{
    background-color: var(--blue);
    color: var(--white)
}
.deactive{
    background-color: var(--white-2);
    color: var(--black)
}