:root{
    --white: #ffffff;
    --white-2: #f4f4f4fe;
    --light-grey: #eff1f3;
    --grey: #bec2c7;
    --blue: #3b76d3;
    --light-blue: #bad4ff;
    --black: #4b4b4b;
    --red: rgb(253, 72, 72);
    --green: rgb(0, 162, 11);
}
::-webkit-scrollbar {
    display: none;
}
body{
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: 550px;
    background-color: var(--light-grey);
}
