.BlockList{
    margin-left: 25px;
    margin-right: 25px;
    overflow: scroll;
}
.BlockList > h2{
    color: var(--black);
    position: relative;
}
.BlockList > h2 > span:hover{
    cursor:pointer;
}
.BlockList > h2 > span{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 12px;
    font-weight: 400;
    color: var(--white);
    background: var(--blue);
    border-radius: 2px;
    padding: 5px 10px;
    min-width: 60px;
    text-align: center;
}
.blocklist-btn > button{
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 7px 20px;
    margin-right: 10px;
    font-size: 14px;
}

.BlockList > div > input{
    font-size: 12px;
    color: var(--black);
    border: 1px solid var(--grey);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 2px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.BlockList > div > input:focus,.BlockList > div > input:hover{
    outline: 0;
}
.BlockList .addForm > button{
    border: none;
    color: var(--white);
    background-color: var(--blue);
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.block-list > div{
    padding: 5px;
}
.block-list > div > p{
    margin: 5px 0;
}
.block-list > div > p:nth-child(1){
    font-weight: 700;
    color: var(--black);
    position: relative;
}
.block-list > div:nth-child(even){
    background-color: var(--light-grey);
}
.block-list > div > p:nth-child(1) > span{
    position: absolute;
    right: 10px;
}
.block-list > div > p:nth-child(2){
    color: var(--grey);
}