.Profile{
    background-color: var(--light-grey);
    min-height: 70px;
    position: relative;
}
.Profile > img{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 35px;
    left: 50%;
    margin: 0 0 0 -35px;
}