.OptionsWrapper{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 9fr);
    gap:25px;
    padding-top: 50px;
}

.OptionsWrapper > div{
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: rgb(14 30 62 / 8%) 0px 3px 6px;
}



.SideBar > p{
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    background-color: var(--light-grey);
    border-radius: 6px;
    cursor: pointer;
}
.SideBar > p:hover{
    color: var(--white);
    background: var(--blue);
}
.SideBar > p > svg{
    margin-right: 15px;
}





@media (min-width: 768px) {
    .OptionsWrapper {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .OptionsWrapper {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .OptionsWrapper {
        width: 1170px;
    }
}