.log-head{
    padding: 10px 20px;
    position: relative;
}

.log > div {
    display: grid;
    grid-template-columns: minmax(0,15%) minmax(0,30%) minmax(0,25%) minmax(0,15%) minmax(0,15%);
    gap:4px;
}
.log >div > div> p{
    background-color: var(--light-grey);
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.log > div > div >p{
    margin-top: 0;
}