.Header {
    background-image: linear-gradient(263deg, rgb(58, 189, 236), rgb(87, 90, 227));
}
.Header > h2{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 7px 15px;
    color: var(--white);
}
.Header > h2 > span{
    font-size: 12px;
}