.head{
    padding: 10px 20px;
    position: relative;
}
.head > button{
    position: absolute;
    right: 20px;
    top: 25px;
    color: var(--white);
    background-color: var(--red);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}

.BlockForm{
    padding: 10px 20px;
}
.BlockForm input, .BlockForm textarea{
    background-color: var(--light-grey);
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
}
.BlockForm input:focus, .BlockForm textarea:focus{
    outline: 0;
    background-color: var(--light-blue);
}

.BlockForm > input:nth-child(1){
    width: 100%;
    box-sizing: border-box;
}
.BlockForm > div:nth-child(2){
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 20px;
}
.BlockForm > textarea:nth-child(3){
    width: 100%;
    box-sizing: border-box;
}
.BlockForm > button{
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 20px;
}
.BlockForm >button + span{
    font-size: 14px;
}
.BlockForm >button + span>p{
    display: inline;
    color: var(--red);
    cursor: pointer;
}

.SiteList{
    padding: 10px 20px;
}
.SiteList > div >div{
    display: grid;
    grid-template-columns: minmax(0,15%) minmax(0,30%) minmax(0,30%) minmax(0,15%) minmax(0,10%);
    gap:4px;
}
.SiteList >div >div > div> p{
    background-color: var(--light-grey);
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.SiteList > div > div > div >p{
    margin-top: 0;
}

.SiteListEdit > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.SiteListEdit > button >svg{
    font-size: 14px;
}
.SiteListEdit > button:nth-child(1){
    color: var(--green);
}
.SiteListEdit > button:nth-child(2){
    color: var(--red);
}
