.EditBlock{
    padding: 0 0 20px 0;
    display: grid;
    grid-template-columns: minmax(0,20%) minmax(0,20%) minmax(0,20%) minmax(0,30%) minmax(0,10%);
    gap:4px;
}
.EditBlock > input{
    background-color: var(--light-grey);
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin-top: 0;
}
.EditBlock > input:focus{
    outline: 0;
}

.EditBlock > button{
    border: none;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
}