.Nav > .logo{
    position: relative;
    width: 300px;
    padding: 30px 20px 30px 20px;
}
.Nav > .logo > img{
    width: 40px;
    display: inline-block;
    margin-left: 25px;
}
.Nav > .logo > h3{
    font-weight: 400;
    display: inline-block;
    font-size:20px;
    color: var(--white);
    position: absolute;
    left: 100px;
    top: 20px;
}